/* @override 
	http://dev.gazprom/sites/all/themes/gazprom/styles/gazprom-styles.css
	http://gazprom.systemwerks.net/sites/all/themes/gazprom/styles/gazprom-styles.css */


/* 
    Document   : gazprom-styles
    Created on : Nov 14, 2011, 12:36:49 PM
    Author     : jonmcl
    Description:
        Purpose of the stylesheet follows.
*/

/* 
   TODO customize this sample style
   Syntax recommendation http://www.w3.org/TR/REC-CSS2/
*/

root { 
  display: block;
}

a {
   outline: 0 !important;
}

/* @group system CSS overrides */

/* contextual.css */
XXXhtml div.contextual-links-wrapper {
	z-index: 0;
	/* unsure of why, but it is set to 999 in the system file */
}

/* @end */

* {
-webkit-user-select: text;
-khtml-user-select: text;
-moz-user-select: text;
-o-user-select: text;
user-select: text;	
}

/* @group body styles */
html, body {
	margin: 0;
	height: 100%;
}

p {
/*	font-size: 12px;*/
}
.content-main p {
	font-size: 85%;
	font-size: 12px;
}

.gazprom-built #page {
	overflow: hidden;
}

#page {
	min-width: 980px;
}
/* @end */

/* @group text styles */

p.secondary-subheading {
	font: 1em/1.1 "Lucida Grande", Lucida, Verdana, sans-serif;
	color: #1a76b4;
	margin-bottom: .9em;
}
p.label {
	color: #999;
	margin-bottom: .9em;
	padding-right: 00px;
	font: italic .9em/1.1 Georgia, "Times New Roman", Times, serif;
}
/* @end */
/* @group Pre-built (basic) layout */


/* @end */

/* @group gray-layout customization */

ul.menu, ul.language-switcher-locale-url {
	border-top: none;
	padding: 0;
	margin: 0 0 0.75em 1em;
}

ul.menu li.last {
	border-bottom: none;
}

ul.menu li a.active-trail {
	text-decoration: underline;
	}
/* @end */


/* @end */

/* @group #load-screen stuff */

#load-screen {
	position: fixed;
	z-index: 5000;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: url(../images/loading_graphic_4.png) no-repeat center center #0C244E;
}

.build-mode #spacer-page-top {
	margin-top: -88px; /* #header height */
}

/* @end */

/* @group Header Styles */

#header {
	font-size: 1em;
	text-transform: uppercase;
	height: 88px;
	min-width: 980px;
	position: static;
/*	background: url(/sites/all/themes/gazprom/images/navigation-main-background_01.png) repeat-x transparent;*/
	background-color: rgba(1,38,79,.83);	
}
.gazprom-built #header {
	position: fixed;
	z-index: 50;
	top: 0;
	left: 0;
	z-index: 50;
}
.build-mode .gazprom-built #header,
.build-mode #header,
.simple #header {
	position: relative;
	z-index: 50;
}

#header-left {
	height: 88px;
	width: 200px;
}
#header-middle {
	width: 500px;
	height: 88px;
}
#header-right {
	width: 280px;
	height:  88px;
	margin: 0;
}
#header-right .region {
	display: none;
}
#header-right {
	position: absolute;
	right: 0;
}
#header-right img.options-bar-fpo {
	margin-top: 28px;
	margin-right: 30px;
}
#header img#gazprom-logo {
	margin-left: 60px;
	margin-top: 7px;
}
#header .simple.box {
	padding-bottom: 0;
	background-color: transparent;
}
#header .box h1 a {
	font-weight: bold;
	font-size: 1.6em;
}
#header .box h1 a:hover {
	background-color: transparent;
}
#header h1 a{
	color: #333;
}
#header h1 a:hover {
	
}
#header-right {
	text-align: right;
}
#header .block {
	margin-top: 0px;
	margin-right: 10px;
	display:-moz-inline-stack;
	display:inline-block;
	zoom:1;
	*display:inline;
}

#header .form-item {
	margin: 0;
}
#header .form-item input.form-text {
	width: 100px;
}
#block-lang-dropdown-language .ddTitle,
#block-lang-dropdown-language .dd  {
}

#header .box h1 {
	margin: 0;
	background-color: transparent;
}
X#header .box h1 a {
	background-color: transparent;
	color: #333;
}
/* @end */

/* @group navigation items */

#navigation-main {
	border-top:  none;
	margin-top: 35px;
	margin-left: 15px;
	font-size: .85em;
}

nav, section, article, aside {
	display: block;
}
nav a,
nav a:visited {
	color: #fff;
	font-weight: bold;
	text-decoration: none;
    -webkit-transition: color .1s linear;
    transition: color .1s linear;
}
nav a:hover {
	color: #ffa200;
}
nav a.active,
nav a.active-trail {
	color: #ffa200;
}
nav li.active-trail,
nav li.active {
	background-color: transparent;
}
nav ul.menu li a.active-trail,
nav ul.menu li a:hover {
	text-decoration: none !important;
}
nav ul.menu li a.active:hover,
nav ul.menu li a.active-trail:hover,
nav ul.menu li a:hover {
	background-color: transparent !important;
}


nav .box {
	border-bottom: 1px solid #aaa;
	padding: 0;
	margin: 0;
}
nav ul.menu {
	margin-left: 0;
	margin-bottom: 0;
}
nav ul.menu li {
	float: left;
	list-style: none;
}
nav#navigation-main ul.menu li {
	padding: 0 10px 0 5px;
	margin: 0;
}
nav ul.menu li a {
	text-transform: uppercase;
	border-bottom: none;
}
nav#navigation-main ul.menu li a {
	padding: 0;
}
.second-navigation {
	background-color: #0170b7;
	background-color: rgba(1,112,183,.85);
	height: 46px;
	min-width: 980px;
	font-size: .85em;
	padding-top: 20px;
	padding-left: 55px;
	border-bottom: 2px solid #79bcff;
	position: relative;
	z-index: 10;
}
.singlePageMode .second-navigation {
	position: fixed;
	z-index: 52;
	top: 88px;
}

nav.third-navigation {
	display: none;
}


.indicator {
}
#navigation-main .indicator {
position: absolute;
top: 0;
left: 0;
height: 6px;
width: 0px; /* start out invisible */
margin-left: 15px;
display: block;
	background-color: #ffa200;
}
.second-navigation .indicator {
	position: absolute;
	bottom: 0;
	left: 0;
	height: 6px;
	margin-left: 10px;
	width: 0px; /* start out invisible */
	display: block;
	background-color: #79bcff;
}

.no-room-navigation .room-navigator {
	display: none;
}
.room-navigator-next,
.room-navigator-previous {
	position: absolute;
	z-index: 500;
	top: 50%;
	height: 96px;
	width: 20px;
	margin-top: -48px;
	background-color: transparent;
	cursor: pointer;
}
.room-navigator-next {
	right: 0;
	background-image: url(/sites/all/themes/gazprom/images/room-navigator-next.gif);
}
.room-navigator-previous {
	left: 0;
	background-image: url(/sites/all/themes/gazprom/images/room-navigator-previous.gif);
}
/* @end */

/* @group height enforcement */

.full-height {
	height: 100%
	/* see the script.js file */
	/* @TODO scrap this class? */
}

/* @end */

/* @group page elements */


XXX.simple #page,
XXX.singlePageMode #page {
	position: relative;
	z-index: 0;
	height: 100%;
}
.content-floor-wrapper {
	padding-top: 0;
	min-width: 980px;
	height: 100%;
	background-color: #aaa;
}

XXX.simple .content-floor-wrapper,
XXX.singlePageMode .content-floor-wrapper {
	position: relative;
	z-index: -1;
}

.build-mode .content-room-wrapper {
	min-height: 955px;
	min-width: 980px;
}

.content-room-wrapper {
	height: 100%;
	width: 100%;
	min-width: 980px;
	position: relative;
	z-index: 0;
	margin-top: 0px;
	overflow: hidden;
}
XXX.simple .content-room-wrapper,
XXX.singlePageMode .content-room-wrapper {
	position: relative;
	z-index: -1;
}
.content-floor-wrapper.active .content-room-wrapper {
/*	padding-top: 30px;*/
	padding-top: 0px;
}
.content-floor-wrapper.active.no-second-nav .content-room-wrapper {
	padding-top: 0px;
}
.rooms-of-floor {
	width: 2000%;
}
.singlePageMode section.main-section {
	margin-bottom: 20px;
}
section.main-section > .box {
	padding: 0;
	margin: 0;
}
div.breadcrumb,
footer ul.links {
	padding-bottom: 5px;
	padding-top: 5px;
	text-transform: uppercase;
}
footer ul.links.inline {
	display: block;
	text-align: right;
	margin-top: 5px;
	font-size: 1em;
}

.Xform-item label,
.Xfield-label {
	text-transform: uppercase;
	font-size: 1em;
}

ul.pager {
	margin-top: 5px;
	padding-top: 5px;
	margin-bottom: 5px;
    border-top:1px solid #bbb;
}

aside#dev-blocks {
	margin-top: 20px;
}

.overlay-title {
	display: none;
}


div.webform {
	float: left;
	width: 640px;
}
div.primary-image-right {
	width: 300px;
	float: right;
	margin-top: -20px;
}

div.column-left {
	float:left;
	width: 49%;
}
div.column-right {
	float: right;
	width: 49%;
	margin-left: 10px;
}
/* @end */

/* @group node top & bottom placement */

.gazprom-built .expand-top {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-width: 980px;
	bottom: 670px;
/*	bottom: 360px;*/
}
.gazprom-built .expand-top .top-content {
	position: absolute;
	left: 0;
	bottom: 0;
}

.gazprom-built .first-room .expand-top {
	bottom: 360px;
}



.gazprom-built .constant-bottom {
	display: block;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	min-width: 860px; /* 980 - 60 - 60 */
	height: 670px;
}

.gazprom-built.multiPageMode .first-room .constant-bottom {
	height: 360px;
}

XX.singlePageMode .constant-bottom,
.simple .constant-bottom {
	margin-top: 0px;
}
XX.singlePageMode #front-news.constant-bottom,
.simple #front-news.constant-bottom {
	margin-top: 0px;
}


/* @end */

/* @group node top & bottom content styling */

.expand-top .top-content {
	padding: 0px 60px 15px;
}

.multiPageMode .first-room .expand-top .top-content {
	background-color: rgba(0,0,0,.6);
	width: 580px;
	padding: 60px;
}

.constant-bottom {
	padding-left: 60px;
	padding-right: 60px;
	background-color: white;
	border-top: 6px solid #3381C6;
}

.node .bottom-content {
	min-width: 800px;
	margin-top: 30px;
	padding-bottom: 20px;
}


/* @end */

/* @group page - node elements */

XXX.node {
	background-color: transparent;
	/* @TODO is absolute necessary? */
}

.XXXmultiPageMode .first-room .node.node-page .expand-top {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	bottom: 360px;
}

.scrolling-list-index .view-content {
	background-color: transparent;
}


.content h2 {
	border-bottom: 1px solid #c1c1c1;
	color: #666;
	font-size: 1.3em;
	padding-bottom: 5px;
	margin-bottom: 10px;
	margin-right: 20px;
	text-transform: uppercase;
}
.content h3 {
	border-bottom: 1px solid #c1c1c1;
	color: #1a76b4;
	padding-bottom: 5px;
	margin-bottom: 10px;
	margin-right: 20px;
	font: 1.25em "Lucida Grande", Lucida, Verdana, sans-serif;
}

.content img.image-float-left {
	margin-top: 4px;
	margin-right: 15px;
	margin-bottom: 15px;
	float: left;
}

.content-main p {
	padding-right: 20px;
	margin-top: 1em;
	margin-bottom: 1em;
}

h2.no-border, 
h3.no-border,
.content-subtitle h3 {
	border-bottom: none;
	padding-bottom: 0;
}
.content hr {
	margin-top: 10px;
	margin-bottom: 10px;
	border-color: #aaa;
	clear: none;
	margin-right: 20px;;
}

.leave-image-room-right {
	margin-right: 320px;
}

.content hr {
	border-top: 1px solid #c1c1c1;
}

.content .field-name-field-image {
	float: left;
	margin-right: 15px;
	margin-bottom: 10px;
	margin-top: 3px;
}
/* @end */

/* @group page/node tools */

.page-tools {
	height: 30px;
	margin-right: 20px;
	margin-top: 10px;
	margin-bottom: 20px;;
	border-top: 1px solid #c1c1c1;
	padding-top: 10px;
}
.page-tools.pager-inside {
	border-bottom: 1px solid #c1c1c1;
	padding-bottom: 10px;
}
.page-tools.no-body {
	border-top: none;
	border-bottom: none;
}
.page-tools.no-body.pager-inside {

	border-top: 1px solid #c1c1c1;
	border-bottom: 1px solid #c1c1c1;
	padding-top: 2px;
	padding-bottom: 2px;
}

.first-room .page-tools {
	display: none;
}
.page-tool {
	background-color: #ccc;
	-webkit-transition: background-color .1s linear;
	transition: background-color .1s linear;
	cursor:  pointer;
}
.page-tool.print {
	width: 30px;
	height: 30px;
	float: right;
	margin-left: 20px;
	background: url(../images/gallery-sprites.png) no-repeat -265px -159px #ccc;
}
.page-tool.print:hover {
	background-color: #FFA200;
}
.page-tool.share {
	width: 85px;
	height: 25px;
	float: right;
background: url(../images/gallery-sprites.png) no-repeat -410px -49px #ccc;
cursor:  pointer;
padding-top: 5px;
}
.page-tool.share:hover {
	background-color: #FFA200;
}
.page-tool.share span {
color: #fff;
font-size: 12px;
font-weight: bold;
text-transform: uppercase;
padding-left: 10px;
}

.pagination-goes-here{
	float: left;
	padding-top: 5px;
	height: 25px;
}


/* @end */
/* @group content sidebars */

section.main-section aside {
	margin-top: 10px;
}

/* @end */

/* @group node elements (article) */

article.node {
/*	padding: 10px;*/
	width: 100%;
	height: 100%;
}
article.node div.field {
/*	margin-top:  5px;*/
}
/* @end */

/* @group development blocks region */

#dev-blocks .box {
	background-color: #ddd;
}
#dev-blocks .box .block {
	background-color: #ddd;
	float: left;
	margin-right: 40px;
}

/* @end */

/* @group performance stage */

.stage {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #333;
	z-index: 5;
/*-webkit-box-shadow: inset 0px 0px 100px 60px rgba(10, 10, 10, .5);
-moz-box-shadow: inset 0px 0px 100px 60px rgba(10, 10, 10, .5);
box-shadow: inset 0px 0px 100px 60px rgba(255, 10, 10, .5);*/
}

.constant-bottom .stage {
	top:  -285px;
}

/* @end */

/* @group photo gallery */

.photo-gallery-content {
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.view-photo-grid {
	display: block;
	overflow: hidden;
	width: 100%;
	height: 100%;
}

table.photo-grid,
table.photo-grid tr,
table.photo-grid td,
table.photo-grid tbody {
	background-color: transparent;
	margin: 0;
	padding: 0 !important;
	border: none;
}
table.photo-grid {
	margin-top: 167px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 100px;
}
table.photo-grid td {
	width: 750px;
}
.view-photo-grid .item-list ul {
	width: 750px;
	/* holds 3 across */
	float: left;
	margin: 0;
}
.view-photo-grid .item-list ul li {
	display: block;
	float: left;
	list-style: none;
	background-color: #aaa;
	width: 240px;
	height: 240px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 0;
	margin-left: 0;
	position: relative;
}
.view-photo-grid li img {
/*	display: none;*/
	margin: 0;
	padding: 0;
}

.view-photo-grid ul.pager {
	display: none;
}

.grid-scroll-buttons .grid-button,
.scrolling-grid .grid-button.fixed-element {
/*	position: absolute;*/
	position: fixed;
	z-index: 10;
	cursor: pointer;
	display: none; /* room-activation event */
	background: url(../images/gallery-sprites.png) no-repeat 0 0;
}
.grid-button.scroll-up {
	top: 160px;
	left: 50%;
	width: 117px;
	height: 80px;
	margin-left: -58px;
	background-position: 0 -117px !important; 
}
.grid-button.scroll-up:hover {
	background-position: -117px -117px !important; 
}
.grid-button.scroll-left {
	top: 50%;
	left: 5px;
	width: 80px;
	height: 117px;
	margin-top: -58px;
	background-position: 0 0px !important; 
}
.grid-button.scroll-left:hover {
	background-position: -80px 0px !important; 
}
.grid-button.scroll-down {
/*	bottom: 40px;*/
	bottom: 65px;
	left: 50%;
	width: 117px;
	height: 80px;
	margin-left: -58px;
	background-position: 0 -215px !important; 
}
.grid-button.scroll-down:hover {
	background-position: -117px -215px !important; 
}
.grid-button.scroll-right {
	top: 50%;
	right: 5px;
	width: 80px;
	height: 117px;
	margin-top: -58px;
	background-position: -160px 0px !important; 
}
.grid-button.scroll-right:hover {
	background-position: -240px 0px !important; 	
}

.photo-gallery-controls {
/*	position: absolute;*/
	position: fixed;
	z-index: 100;
/*	bottom: 0px;*/
	bottom: 25px;;
	left: 0;
	width: 100%;
	height: 38px;
	background-color: rgba(0,0,0,.85);
	overflow: hidden;
	display: none; /* room activate handler */
}

.gallery-controls-left {
	float: left;
	padding-left: 20px;
}
.gallery-controls-right {
	float: right;
}
.gallery-control-filter {
	text-transform: uppercase;
	height:28px;
	padding-top: 10px;
	font-weight: bold;
	color: #fff;
	width: 196px;
	border-right: 2px solid #555;
	float: left;
	cursor: pointer;
	background: url(../images/gallery-sprites.png) no-repeat -370px 2px;
}

.gallery-control-show,
.gallery-control-list-view,
.gallery-control-grid-view,
.gallery-control-search {
	text-align: center;
	height: 38px;
	width: 77px;
	border-left: 2px solid #555;
	float: left;
	background: url(../images/gallery-sprites.png) no-repeat;
}
.gallery-control-show a,
.gallery-control-list-view a,
.gallery-control-grid-view a,
.gallery-control-search a {
	display: block;
	height: 38px;
	text-indent: -9999px;
	text-transform: uppercase;
	color: #fff;
	font-weight: bold;
	cursor: pointer;
}
.gallery-control-show {
	background-position:	-242px -345px;
}
.gallery-control-show:hover,
.gallery-control-show.active {
	background-position:	-243px -305px;
}
.gallery-control-list-view {
	background-position:	-81px -345px;
}
.gallery-control-list-view:hover,
.gallery-control-list-view.active {
	background-position:	-83px -305px;
}
.gallery-control-grid-view {
	background-position:	0 -345px;
}
.gallery-control-grid-view:hover,
.gallery-control-grid-view.active {
	background-position:	0 -305px;
}
.gallery-control-search {
	background-position:	-164px -343px;
}
.gallery-control-search:hover,
.gallery-control-search.active {
	background-position:	-163px -305px;
}

.photo-gallery-focus-ring {
	position: absolute;
	z-index: 5;
	display: none;
	width: 240px;
	height: 240px;
	top: -30px;
	left: -33px;
	background: url(../images/gallery-sprites.png) -320px -90px transparent;
	padding: 32px 33px 36px;
	cursor: pointer;
}
/* filter dialog/form */

.gallery-filter-dialog {
	display:  none; /* changed in JS */
	position: fixed;
	z-index: 11; /* above .grid-button */
	bottom: 63px;
	left: 0;
	background-color: rgba(0,0,0,.75);
	height: 200px; 
	overflow: hidden;
	color: #fff;
	font-size: .9em;
}

.gallery-filter-dialog li {
	list-style: none;
}
.gallery-filter-dialog ul {
}
.gallery-filter-dialog ul.bef-tree li {
	margin-right: 10px;
	margin-left: 0;
	margin-bottom: 1px;
	display: block;
	width: 100px;
}
#edit-country-wrapper ul.bef-tree li {
	float: left;
}
.gallery-filter-dialog ul.bef-tree label {
	text-transform: none;
	font-weight: normal;
	margin-left: 2px;	
}
.gallery-filter-dialog ul.bef-tree {
	padding-left: 0;
	max-width: 460px;
}
.gallery-filter-dialog ul.bef-tree-child {
	padding-left: 0;
	margin: 0;
}

.gallery-filter-dialog .views-exposed-widget {
	padding: 10px 0 0px 20px;

}
.views-exposed-widgets {
	width: 800px;
	padding-right:20px;
	overflow: hidden;
}
.views-exposed-widget.views-submit-button {
	float: left;
	padding-top: 60px;
	padding-left: 100px;
}
#edit-country-wrapper.views-exposed-widget {
	border-right: 1px solid #aaa;
	padding-bottom: 100px;
}
#edit-country-wrapper ul.bef-tree > li > div {
	margin-bottom: 1px;
	font-weight: bold;
}
#edit-country-wrapper ul.bef-tree > li > div > label {
	text-decoration: underline;
}
#edit-category-wrapper.views-exposed-widget {
	border-right: 1px solid #aaa;
	padding-right: 10px;
	padding-bottom: 100px;
}
.gallery-filter-dialog .views-exposed-widget label {
	text-transform:  uppercase;
}

/* lists */
.photo-gallery-content .view-photo-list {
	margin-top: 157px;
	overflow: hidden;
	overflow-y: scroll;
}


/* @end */

/* @group web forms */

.node-webform form {
/*	width: 660px;*/
	margin-left: auto;
	margin-right: auto;
}

.node-webform .field-name-body {
/*	margin-right: 300px;*/
}

.node-webform .field-name-field-image {
	margin-top: 50px;
}
.node-webform label {
	padding-left: 10px;
	text-transform: uppercase;
	font-weight: bold;
	width: 80px;
	display: inline;
	display: inline-block;
}
.webform-component {
	padding-top: 2px;;	
	border-bottom: 1px solid #ccc;
	padding-bottom: 0px;
	margin-bottom: 20px;
	color: #333;
}
.webform-component.focused {
	background-color: rgba(40,109,182,.2);
}
.webform-component-textarea {
padding-top: 5px;
	background: transparent;
	border: 1px solid #ccc;
}
.webform-component-textarea.focused {
	background-color: rgba(40,109,182,.2);
}
.webform-component-textarea > label {
	z-index: 0;
}
.node-webform input {
	border: none;
	line-height: 1;
	outline: none;
	background-color: transparent;
}
.node-webform textarea {
	border: none;
	background-color: transparent;
	padding-left: 10px;
	padding-right: 20px;
	color: #333;
	outline: none;
}
span.form-required {
display: none;
/*position: absolute;
z-index: -1;
display: block;
	top: 110;
	width: 20px;
	height: 20px;
	background-color: yellow;*/
	
}
.node-webform .form-submit {
	text-align: right;
	padding-top: 8px;
	padding-bottom: 8px;
	background: url(../images/blue-link-arrow.png) no-repeat right 3px;
	background-color: #286DB6;
	background-color: rgba(40,109,182,.75);
	font-size: 1.1em;
	font-weight: bold;
	color: #fff;
	margin-right: 20px;
	width: 100%;
-webkit-transition: background-color .15s linear;
transition: background-color .15s linear;
}
.node-webform .form-submit:hover {
	background-color: #ffa200;
	background-color: rgba(255,161,0,.75)
}
/* @end */

/* @group Photo Collection List */

.view-photo-list table {
	border-style:  none;
	font-size: 1em;
}
.view-photo-list tbody th,
.view-photo-list tbody td {
	border-style: none;
}
.view-photo-list thead th {
	background-color: #0E0E0E;
	color: white;
	text-transform: uppercase;
	padding-top: 10px;
	padding-bottom: 10px;
	border-style: none;
}
.view-photo-list tr.even,
.view-photo-list tr.odd {
	padding-left: 60px;
	background-color: #646464;
	border-bottom: 1px solid #747474;
}
.view-photo-list tr.even.hovered,
.view-photo-list tr.odd.hovered {
background-color: #555555;
}
.view-photo-list tr.even td,
.view-photo-list tr.odd td {
	border-style: none;
	background-color: transparent;
	padding-top: 10px;
	padding-bottom: 10px;
	color: #fff;
	border-top: 1px solid #747474;
	cursor: pointer;
	vertical-align: middle;
}
.view-photo-list td a {
	color: #fff;
	text-transform: uppercase;
	font-weight: normal;
}
.view-photo-list td a:hover {
	text-decoration: none;
}
.view-photo-list tr.hovered td {
border-top: 1px solid #F9A31B;
border-bottom: 1px solid #F9A31B;
}

.view-photo-list td.views-field-view {
	width: 160px;
}
.view-photo-list td .view-collection-topmost {
	margin-left: 100px;
}
.view-photo-list td .view-collection-topmost img {
	border: 1px ridge #aaa;
}
/* @end */

/* @group forms */

#header input.form-text {
	border: none;
	background-color: transparent;
	outline: none;
	color: #555;
}
#header div.form-item.form-type-textfield {
	padding-bottom: 2px;
    border-bottom:1px solid #555;
    margin-right: 5px !important;
}

/**
 * CSS File for ezMark jQuery Plugin
 *
 **/
 
.gazprom-checkbox, .gazprom-radio {
	display:  inline;
	margin-right: 3px;
} 
.ez-hide { opacity: 0; filter:alpha(opacity=0); }

.ez-checkbox, .gazprom-checkbox {
	background: transparent url('../images/gallery-sprites.png') -596px -21px no-repeat;
	display:inline-block;
}

.ez-radio, .gazprom-radio {
	background: transparent url('../images/gallery-sprites.png') -596px -21px no-repeat;
	display:inline-block;
}

.ez-checked, .gazprom-checkbox.active { background-position: -596px -3px; }

.ez-selected, .gazprom-radio.active { background-position: -596px -3px; }

.ez-checkbox, .ez-radio { zoom: 1; *display:inline; _height:30px; }

/* @end */



/* @group prototype - front views */

.expand-top hr,
.top-content hr {
	width: 150px;
	border-width: 1px;
	margin-top: 0px;
	margin-left: 0;
	margin-right: auto;
	margin-bottom: 15px;
	border-color: #fff;
}

#front-features {
	overflow: hidden;
	
}

#front-features > .scrolling-list {
	-webkit-box-shadow: inset 0px 0px 100px 60px rgba(10, 10, 10, .5);
	-moz-box-shadow: inset 0px 0px 100px 60px rgba(10, 10, 10, .5);
	box-shadow: inset 0px 0px 100px 60px rgba(10, 10, 10, .5);
}
#front-features > .scrolling-list > .scrolling-list-items {
	height: 526px; /* starting point */
}
#front-features li {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	padding-top: 200px;
	padding-left: 60px;
	
}
#front-features li > div.views-field {
	width: 450px;
}
#front-features li > div.views-field-field-background-image {
	width: 100%;
}
.simple #front-features li {
	padding-bottom: 20%;
}
.simple #front-features li,
.singlePageMode #front-features li {
	padding-top: 70px;
}

#front-features h1 {
	display: block;
	font-size: 60px;
	letter-spacing: -.025em;
	line-height: .9;
}
.expand-top div.content,
.expand-top h1,
.expand-top h2,
.expand-top a {
	margin-top: 10px;
	color: #fff !important;
	border-bottom: none;
}
.expand-top h1 {
	line-height: 1;
	text-transform: uppercase;
	font-size: 4em;
	max-width:  750px;
	text-shadow: -2px 3px 2px #444;
}
.expand-top h2 {
	line-height: 1;
	text-transform: uppercase;
	font-size: 2.5em;
	width: 100%;
	text-shadow: 1px 1px #222;
}
#front-features .views-field-body {
	text-shadow: -1px 2px 3px #444;
	
}


div.blue-link-wrapper,
div.blue-link {
	margin-top:  20px;
}
.blue-link-wrapper a,
.blue-link a,
.form-submit {
	padding: 5px 20px 5px 10px;
	text-transform: uppercase;
	font-size: .85em;
	font-style: normal;
	color: #fff;
-webkit-transition: background-color .15s linear;
transition: background-color .15s linear;
background: url(../images/blue-link-arrow.png) no-repeat right -1px #286DB6;
font-weight: normal;
	border-style: none;
}
.expand-top .blue-link-wrapper a,
.expand-top .blue-link a {
	-webkit-box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, .35);
	-moz-box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, .35);
	box-shadow: 4px 4px 10px 1px rgba(0, 0, 0, .35);
}
.blue-link-wrapper a:hover,
.blue-link a:hover,
.form-submit:hover {
	text-decoration: none;
	background-color: #ffa200;
	color: #fff;
}


.view-front-features h1,
.view-front-features h2 {
	display: none;
}
.view-front-features .item-list > ul > li.views-row {
	list-style: none;
	margin: 0;
}


.view-front-news {
	width: 100%;
	overflow: auto;
	overflow-x: auto;
	overflow-y: hidden;
}

.view-front-news ul.item-list {
	margin: auto;
	padding: 0;
	height: 350px;
	width: 2000%;
}

.view-front-news ul.item-list li.views-row {
	width: 290px;
	height: 300px;
	margin: 10px 10px 10px 0;
	display: block;
	float: left;
	overflow: hidden;
/*	background-color: red;*/
}
/* @end */


/* @group backgounder images */

XXX.simple .expand-top div.to-background,
XXX.singlePageMode .expand-top div.to-background {
	width: 100%;
	position: absolute;
	z-index: -1;
	top: -156px;
	left: 0;
	bottom: 0;
	overflow: hidden;
	/* this is for basic layout */
}

.content-floor-wrapper > .relative-wrapper {
	/* .relative-wrapper gets added by JS */
	position: relative;
	z-index: 0;
	min-width: 980px;
}
.content-floor-wrapper > .relative-wrapper {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.XXXcontent-floor-wrapper > .to-background {
	position: relative;
	width: 100%;
	height: 100%;
	overflow: hidden;
}
.XXXcontent-floor-wrapper > .relative-wrapper > .to-background {
	position: absolute;
	z-index: 0;
	top: 0;
	left: 0;
	right: 0;
	height: 100%;
	background-color: #ddd;
	min-width: 980px;
	overflow: hidden;
	/* .relative-wrapper gets added by JS */
}

img.fancy-background-image {
	position: absolute;
	z-index: -10;
	width: 100%;
	height: auto;
	left: 0;
/*	display:  none;*/
}

#front-features img.fancy-background-image {
	z-index: 0;
}
#front-features .views-field-field-background-image {
	position: absolute;
	z-index: -10;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

.simple img.fancy-background-image,
.singlePageMode img.fancy-background-image {
	top: -156px;
}


/* @end */

/* @group dummy stuff for client show */

.dummy-primary-image {
	margin-top: 40px;
	margin-right: 40px;;
}

#node-4 h3 {
	border: none;
}
/* @end */

/* @group prototype - contact-us page */

/*#node-161 .bottom-content {
	width: 940px;
	color: #888;
	margin-left: auto;
	margin-right: auto;
}
#node-161 .bottom-content img.left-image {
	float: left;
}
#node-161 .bottom-content .column.left-column {
	float: left;
	margin: 25px;
}
#node-161 .bottom-content .column.right-column {
	float: left;
	margin: 25px;
	text-align: right;
}
#node-161 .bottom-content img.right-image {
	float: left;
}
*/
/*#node-161 .bottom-content {
	width: 940px;
	color: #888;
	margin-left: auto;
	margin-right: auto;
}*/

.layout-contact-us img.left-image {
	float: left;
}
.layout-contact-us .column.left-column {
	float: left;
	margin: 25px;
}
.layout-contact-us .column.right-column {
	float: right;
	margin: 25px;
	text-align: right;
}
.layout-contact-us img.right-image {
	float: right;
	margin-right: 20px;
}

/* @end */

/* @group  prototype - news & media */

#node-168 .expand-top {
	bottom: 440px;
}
#node-168 .constant-bottom {
	height: 440px;
}
div.news-view-item {
	width: 180px;
	float: left;
	margin-right: 40px;
}
.news-view-item .date {
	color: #ffa200;
	font-size: .9em;
	margin-bottom: 5px;
}
.news-view-item .date span {
	color: #000;
	font-size: .8em;
	font-style: oblique;
}

.news-view-item .title {
	margin-top: 5px;
	display: block;
	line-height: 1;
	color:  #666666;
	margin-right: 10px;
}
.news-view-item a {
	color: #fff;
}
/* @end */
/* @group prototype - front news & media */

.simple .expand-top #front-features,
.singlePageMode .expand-top #front-features {
	height: 450px;
}
.simple .expand-top #front-features {
	overflow: scroll;
	overflow-x: hidden;
}

#front-news.constant-bottom {
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 40px;
	height: 360px;
}
.singlePageMode #front-news.constant-bottom {
/*	height: inherit;*/
}

#front-features.expand-top {
	bottom: 406px;
}

#front-news div.headers {
	padding-bottom: 5px;
	padding-right: 0px;
	display: block;
	margin-right: 0px;
	width: 500px;
	border-bottom: 1px solid #B2B2B2;
}
#front-news div.headers h2 {
	border-bottom: none;
	font-size: 1em;
	padding-bottom: 0;;
}
#front-news div.headers h2 {
	display:  inline;
}
#front-news h2.first {
	margin: 0 0 0 20px;
}
#front-news h2.second {
	margin: 0 0 0 179px;
}
#front-news .news-view-item {
	margin-top: 5px;
}
#front-news-feature {
	padding-bottom: 0px;
	margin-top: 0px;
	padding-top: 10px;
	width: 200px;
	height: 260px;
	padding-left: 20px;
	float: left;
	overflow: hidden;
	background-color: #f0f0f0;
	border-right: 1px solid #3381C6;
}

#front-news-view {
	margin-left: 280px;
	margin-top: 10px;
}
#front-news-view > div.step-width > hr {
	border-top: 1px solid #aaa;
	margin-top: -11px;
	margin-right: 20px;
}

#front-news-view > .step-width {
	position: relative;
}
/* @end */

/* @groupd social links */

#home-social-links {
	position: absolute;
	top: -45px;
	right: 20px;
/*	width: 200px;*/
	height: 20px;
	background-color: #aaa;
	background-color: transparent;
	color: #fff;
	text-align: right;
}
#home-social-links div.social-links {
	padding-top: 2px;
	padding-bottom: 10px;
	height: 20px;
	display: inline-block;
	border-bottom: 1px solid #aaa;
	border-right: 1px solid #aaa;
	margin-right: 0;
}

div.social-links a {
	width: 20px;
	height: 20px;
	display: inline-block;
	margin-right: 10px;
	cursor: pointer;
	background: url(../images/gallery-sprites.png) no-repeat -193px -443px #ccc;
}
div.social-links a:hover {
	background-color: #286FB6;
}
div.social-links a.rss {
	background-color: #FFA200;
}
div.social-links a.rss:hover {
	background-color: #286FB6;
}

.social-links a.twitter {
	background-position: -214px -443px;
}
.social-links a.google-plus {
	background-position: -256px -464px;
}
.social-links a.linkedin {
	background-position: -235px -443px;
}
.social-links a.wordpress {
	background-position: -256px -443px;
}
.social-links a.youtube {
	background-position: -193px -464px;
}
.social-links a.livejournal {
	background-position: -214px -464px;
}
.social-links a.rss {
	background-position: -235px -464px;
}


#home-social-links div.world-link {
	padding-top: 2px;
	padding-bottom: 10px;
	height: 20px;
	display: inline-block;
	border-bottom: 1px solid #aaa;
	margin-left: -5px;
}
#home-social-links a.world {
	width: 22px;
	height: 20px;
	display: inline-block;
	cursor: pointer;
	margin-right: 0;
	margin-left: 8px;
	background-color: blue;
	background: url(../images/gallery-sprites.png) no-repeat -277px -443px transparent;
}
#home-social-links .world-overlay {
	display: none;
	position: absolute;
	z-index: 1;
	right: -55px;
	top: -93px;
	width: 134px;
	height: 93px;
	cursor: pointer;
	background: url(../images/gallery-sprites.png) -193px -485px;
}
/* @end */

/* @group footer-page */


#footer-page {
	height: 25px;
	min-width: 980px;
	background-color: #666666;
	color: #fff;
	padding-left: 30px;
	padding-right: 30px;
	font: normal 10px Arial, Helvetica, Geneva, sans-serif;
}
.gazprom-built #footer-page {
	position: fixed;
	z-index: 50;
	bottom: 0;
	left: 0;
}
#footer-page p {
	margin: 0;
}
#footer-page a{
	color: #fff;
	text-decoration: underline;
}
#footer-page .block {
	margin: 0;
	padding: 7px 5px 0 10px;
}
#footer-page #block-block-7 {
	padding-top: 4px;
}
#footer-page-left {
	text-align: left;
}
#footer-page-middle {
	text-align: center;
}

#footer-page-right {
	text-align: right;
}

a#footer-link-behind {
	background-color: #CC9127;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 8px;
	padding-right: 8px;
	text-decoration: none;
}
a#footer-link-behind:hover {
	text-decoration: underline;
}
a#footer-link-gazprom {
	background-color: #306B9E;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-left: 8px;
	padding-right: 8px;
	text-decoration: none;
}
a#footer-link-gazprom:hover {
	text-decoration: underline;
}
/* @end */

/* @group overlay */

#gazprom-overlay .content {
	background-color: transparent !important;
}

/* the overlayed element */
#gazprom-overlay {
	
	/* initially overlay is hidden */
	display:none;
	
	background-image: none;
/*	background-image: url(../images/gazprom-overlay/white.png);*/
/*	background-color: pink;*/
	background-color: transparent;
	width:1060px;
/*	width: 1060px;*/
	height: 100%;
	
	/* some padding to layout nested elements nicely  */
	padding:0px;
	
	overflow: hidden;
	position: relative;

}
#gazprom-overlay > div.overlay-wrapper {
	position: absolute;
	top: 88px;
	left: 130px;
	bottom: 25px;
	width: 760px;
/*	background-color: yellow;*/
	overflow-y:auto;
	overflow: visible;
	padding-right: 10px;
/*	text-align: center;*/
}
#gazprom-overlay .main-section {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	overflow-y: auto;
}

#gazprom-overlay .content-background {
	position: absolute;
	z-index: -1;
	top: 88px;
	left: 140px;
	bottom: 25px;
	width: 735px;
	background-color: white;
}
	
#gazprom-overlay > div.overlay-wrapper .content-main {
	width: 675px;
	height: 100%;
/*	background-color: blue;*/
	color: #2b2b2b;
	padding-top: 12px;
	padding-bottom: 10px;
	padding-left: 35px;
	padding-right: 35px;
	overflow: hidden;
	overflow-y: auto;
	margin-left: auto;
	margin-right: auto;
/*	margin-left: 190px;*/
}
/* close button positioned on upper right corner */
#gazprom-overlay .overlay-close {
	position:absolute;
	right:25px;
	top:0;
	cursor:pointer;
	height:27px;
	width:27px;
	z-index: 10;
	-webkit-transition: background-color .1s linear;
	transition: background-color .1s linear;
	background: url(../images/gallery-sprites.png) no-repeat -348px -50px #6E97CB;
}

#gazprom-overlay .overlay-close:hover {
	background-color: #ffa200;
}

#gazprom-overlay .overlay-print {
	position:absolute;
	left:10px;
	top:0;
	cursor:pointer;
	height:27px;
	width:27px;
	z-index: 10;
	-webkit-transition: background-color .1s linear;
	transition: background-color .1s linear;
	background: url(../images/gallery-sprites.png) no-repeat -266px -161px #6E97CB;
}

#gazprom-overlay .overlay-print:hover {
	background-color: #ffa200;
}


#gazprom-overlay h1.overlay-title {
	display: block;
}

/* @end */

/* @groupd overlay content */

#gazprom-overlay .field-name-field-date-event {
	text-align: right;
	color: #d79006;
	text-transform: uppercase;
	font-weight: bold;
	font-size: .9em;
	margin-right: 15px;
}
#gazprom-overlay .node-title {
	margin-top: 10px;
	color: #1a76b4;
	font-family: "Lucida Grande", Lucida, Verdana, sans-serif;
	letter-spacing: -1px;
	font-weight: normal;
	line-height: 1.15;
	padding-bottom: 20px;
	margin-bottom: 25px;
	border-bottom: 1px solid #ddd;
}
#gazprom-overlay .field-name-field-image {
	float: left;
	margin-top: 2px;
	margin-right: 15px;
	margin-bottom: 10px;
	width: 240px;
	height: 170px;
	border: 1px solid #ddd;
	background-color: #ddd;
}
#gazprom-overlay .field-name-body {
	font-size: 1em;
	line-height: 1.4;
}

#gazprom-overlay .overlay-sidebar-first {
	position: absolute;
	top:0;
	left: -110px;
	background-color: red;
	width: 110px;
	height: 50px
}
#gazprom-overlay .overlay-sidebar-second {
	position: absolute;
	top:0;
	right: -130px;
	width: 120px;
}
#gazprom-overlay .sidebar {
	font-size: 12px;
	color: #fff;
	color: rgba(255,255,255,.9);
	line-height: 1.2;
}
#gazprom-overlay .sidebar .views-field-field-date-event {
	color: #aaa;
	color: rgba(255,255,255,.6);
	font-size: 10px;
	text-transform: uppercase;
	
}
#gazprom-overlay .sidebar a {
	color: #fff;
	font-size: 12px;
	color: rgba(255,255,255,.9);
	font-weight: normal;
	display: block;
}
#gazprom-overlay .sidebar a:hover {
	color: #ffa200;
}
#gazprom-overlay .sidebar h2 {
	font-size: 12px;
	font-weight: normal;
	text-transform: uppercase;
	padding-bottom: 7px;
	margin-bottom: 20px;
	margin-top: 0;
	border-bottom: 1px solid #fff;
}
#gazprom-overlay .sidebar li {
	list-style:  none;
	margin: 0 0 15px;
}
#gazprom-overlay .sidebar ul {
	padding: 0;
}
/* @end */
/* @group photo overlay */

#photo-overlay {
	display:none; /* initially overlay is hidden */
	position: relative;
	background-image: none;
	background-color: #333;
	width:100%;
	height: 100%;
	min-width: 980px;
	
	/* some padding to layout nested elements nicely  */
	padding:0px;
	overflow: hidden;
}
#photo-overlay > div.content-wrapper {
	position: absolute;
/*	top: 156px;*/
	top: 0;
	left: 0;
	bottom: 25px; 
	width: 100%;
	background-color: transparent;
	overflow-y:auto;
	padding-right: 10px;
	text-align: center;
}

#photo-overlay .field-name-field-image img {
	margin: 0;
	padding: 0;
	/* width & height get set
	  in JS (see Drupal.gazprom.viewPhoto.adjustPhoto() */
}

#photo-overlay .photo-controls {
	position: absolute;
	overflow: hidden;
	z-index: 5;
	left: 0;
	right: 0;
	bottom: 0px;
	height: 115px;
	background-color: rgba(0,0,0,.65);
	text-align: left;
	color: #fff;
	padding-left: 20px;
	padding-top: 10px;
}
#photo-overlay .field-name-field-ref-collection {
	text-transform: uppercase;
	font-size: 1.35em;
	float: left;
}
#photo-overlay a{
	color: #fff;
}
#photo-overlay .field-label {
	display: none;
}

#photo-overlay .photo-controls .item-list ul {
	width: 1000%;
}
#photo-overlay .photo-controls .item-list li {
	list-style:  none;
	margin: 0;
	float: left;
	padding-right: 20px;
}
#photo-overlay .photo-controls .item-list img {
	border: 1px ridge #aaa;
}
#photo-overlay .photo-controls .item-list li:hover img,
#photo-overlay .photo-controls .item-list li.active img {
	border-color: orange;
}

#photo-overlay .slideshow-controls {
	float: left;
	margin-left: 40px;
	margin-top: 5px;
	width: 60px;
}
.slideshow-controls > div {
	float: left;
	width: 15px;
	height: 15px;
	background-color: orange;
	margin-right: 2px;
	cursor: pointer;
}
.slideshow-controls > div.slideshow-play {
	background: url(../images/gallery-sprites.png) no-repeat -265px -137px transparent;
	opacity: .5;	
}
.slideshow-controls > div.slideshow-play:hover,
.slideshow-controls > div.slideshow-play.active {
	opacity: 1;
}
.slideshow-controls > div.slideshow-pause {
	background: url(../images/gallery-sprites.png) no-repeat -281px -137px transparent;
	opacity: .5;	
}
.slideshow-controls > div.slideshow-pause:hover,
.slideshow-controls > div.slideshow-pause.active {
	opacity: 1;
}
.photo-control {
	position: absolute;
	cursor: pointer;
	z-index: 10;
}
.photo-control.photo-next {
	top: 50%;
	right: 20px;
	width: 89PX;
	height: 160px;
	margin-top:  -80px;
	background: url(../images/gallery-sprites.png) no-repeat -90px -393px transparent;	
	opacity: .4;
	-webkit-transition: opacity .1s linear;
	transition: opacity .1s linear;
}
.photo-control.photo-next:hover {
	opacity: 1 !important;
}
.photo-control.photo-prev {
	top:  50%;
	left: 10px;
	width: 89PX;
	height: 160px;
	margin-top:  -80px;
	background: url(../images/gallery-sprites.png) no-repeat 0 -393px transparent;
	opacity: .4;
	-webkit-transition: opacity .1s linear;
	transition: opacity .1s linear;
}
.photo-control.photo-prev:hover {
	opacity: 1 !important;
}
.photo-control.close {
	top: 166px;
/*	top: 10px;*/
	right: 25px;
	width:  45px;
	height: 45px;
	-webkit-transition: background-color .1s linear;
	transition: background-color .1s linear;
	background: url(../images/gallery-sprites.png) no-repeat -339px -41px #6E97CB;
	opacity: .8;
}
.photo-control.close:hover {
	-webkit-transition: opacity .1s linear;
	transition: opacity .1s linear;
	background-color: #ffa200;
	opacity: 1 !important;
}

.photo-control.share {
	top: 166px;
/*	top: 10px;*/
	right: 85px;
	width:  90px;
	height: 33px;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
	padding-top: 12px;
	padding-right: 20px;
	text-transform: uppercase;
	-webkit-transition: background-color .1s linear;
	transition: background-color .1s linear;
	background: url(../images/gallery-sprites.png) no-repeat -389px -41px #6E97CB;
	opacity: .8;
}
.photo-control.share:hover {
	-webkit-transition: opacity .1s linear;
	transition: opacity .1s linear;
	background-color: #ffa200;
	opacity: 1;
}
.photo-control.reveal {
	top: 10px;
	right: 20px;
	width: 20px;
	height: 20px;
	background: url(../images/gallery-sprites.png) no-repeat -265px -114px transparent;
	opacity: .6;
	-webkit-transition: opacity .1s linear;
	transition: opacity .1s linear;
}
.photo-control.reveal:hover {
	opacity: 1 !important;
}
.photo-cover {
	background-color: transparent;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 2;
/*	display: none; /* @TODO *!/*/
}
/* @end */
/* @group scrolling index items */

.scrolling-list-vertical {
	height: 100%;
}
.gazprom-built .scrolling-list .scrolling-list-items {
	height: 1000%;
}
.singlePageMode .scrolling-list .scrolling-list-items {
	height: inherit;
}
#front-features .scrolling-list-index {
	position: absolute;
	top: 50%;
	margin-top: -10%;
	right: 45px;
	overflow: visible;
}
.scrolling-list-index li {
	list-style: none !important;
	text-align: right;
}

.scrolling-list-index li.tooltip-inside div.tooltip-trigger {
	display: inherit;
	width: 16px;
	height: 16px;
	padding: 4px;
	cursor: pointer;
	background: url(../images/scrolling-list-lights.png) no-repeat 4px -4px;
}
.scrolling-list-index li.tooltip-inside.active div.tooltip-trigger,
.scrolling-list-index li.tooltip-inside.active div.tooltip-trigger:hover {
	background: url(../images/scrolling-list-lights.png) no-repeat 4px -68px;
}
.scrolling-list-index li.tooltip-inside div.tooltip-trigger:hover {
	background: url(../images/scrolling-list-lights.png) no-repeat 4px -36px;
}


#front-features .scrolling-list-index ul {
margin-top: 10px;
}
#front-features .scrolling-list-index li {
	padding: 0;
}


/* @end */

/* @group scrolling-list parallax */

.parallax-layer {
	position: absolute;
	z-index: -5;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100%;
}
.parallax-1 {
	background: url(../images/parallax/arrows.png) repeat left 0;
}
.parallax-2 {
	background: url(../images/parallax/logos.png) repeat left 0;
}

.parallax-3 {
	background: url(../images/parallax/depth.png) no-repeat right 0;
	width: 175px;
	top: 250px;
	right: 100px;
}


/* @end */

/* @group Tooltips */
/* tooltip styling */
.scrolling-list-index .tooltip {
	display: none;
	min-width: 300px;
	height: 32px;
	background: url(../images/tooltip-rightEdge.png) no-repeat right 0 transparent;
	padding: 5px 20px 0 0;
	position: relative;
}
.scrolling-list-index .tooltip > div {
	background-color: #0170B7;
	display:  inline;
	width: auto;
	padding: 7px 5px 9px 15px;
	
}
.scrolling-list-index .tooltip > div a {
	font-weight: bold;
	font-size: .8em;
	text-transform: uppercase;
}
.scrolling-list-index .tooltip > div a:hover {
	text-decoration: none;
}
sample.tooltip {
	display:none;
	height:69px;
	padding: 20px;
	width:169px;
	font-size: 11px;
	color:#fff;
	background: url(../images/tooltip/black.png) no-repeat;
}

/* a .label element inside tooltip */
sample.tooltip .label {
	color:yellow;
	width:35px;
}

sample.tooltip a {
	color:#ad4;
	font-size:11px;
	font-weight:bold;
}

/* @end */

/* @group Variable-Scroller */

.variable-scroller {
	width: 100%;
/*	margin-left: auto;
	margin-right: auto;*/
	margin: -0px 0 0;
}
XXX.variable-scroller.border-top {
	/* @TODO consider this for all? */
	margin-top: -11px;
	padding-top: 10px;
	border-top: 1px solid #B2B2B2;
}
.variable-scroller-wrapper {
	overflow: visible;
	position: relative;
}
.variable-scroller-wrapper .prev,
.variable-scroller-wrapper .next {
	width: 25px;
	height: 25px;
	position: absolute;
	top: 50%;
	margin-top: -12px;
	-webkit-transition: background-color .1s linear;
	transition: background-color .1s linear;
	background-color: #2c88c3;
	cursor: pointer;
}
.variable-scroller-wrapper .prev:hover,
.variable-scroller-wrapper .next:hover {
	background-color: #ffa200;
}
.variable-scroller-wrapper .prev {
	left: -40px;
	background-image: url(../images/arrow-left.png);
}
.variable-scroller-wrapper .next {
	right: -25px;
	background-image: url(../images/arrow-right.png);
}
.variable-scroller-wrapper .padding-right {
	position: absolute;
	background-color: white;
	top: 0;
	right: 0;
	bottom: 0;
	width: 20px;
}

.variable-scroller-wrapper .prev.disabled,
.variable-scroller-wrapper .next.disabled {
	background-color: #ccc;
	cursor: in;
}

.variable-scroller-wrapper .variable-scroller-pager {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	padding-top: 7px;
	padding-bottom: 7px;
	overflow: hidden;
}

.variable-scroller-pager-item {
	display: inline;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 4px;
	padding-right: 4px;
	margin-right: 5px;
	font-weight: bold;
	font-size: .85em;
	cursor: pointer;
}
.variable-scroller-pager-item.active,
.variable-scroller-pager-item.active:hover {
	background-color: #2c88c3;
	color: #fff;
	cursor: inherit;
}
.variable-scroller-pager-item:hover {
	background-color: #ffa200;
	color: #fff;
}
.variable-scroller div.view-footer span.view-total-count {
	display: none;
}
/* @end */

/* @group Views - General */

div.field-content {
	display: inherit
}

/* @end */

/* @group View - news_media_lists */

.view-news-media-lists {
	height: 250px;
	overflow: hidden;
}
.view-news-media-lists .item-list ul li {
	list-style: none;
	margin-left: 0;
	margin-right: 20px;
	margin-bottom: 0px;
	margin-top: 5px;
	padding: 0;
}
.view-news-media-lists li {
	float: left;
	display: block;
	width: 180px;
	height: 250px;
	overflow: hidden;
	line-height: 1.2
/*	background-color: #ddd*/
}
.view-news-media-lists .views-field-field-date-event {
	text-transform: uppercase;
	color: #ffa200;
	display: inline;
	margin-right: 5px;
	font-size: .85em;
	font-weight: bold;
}

.view-news-media-lists .views-field-type {
	font-style: oblique;
	display: inline;
	color: #7f7f7f;
	margin-top: 3px;;
	font-size: .8em;
	float: right;
}

.view-news-media-lists .views-field-field-image {
	margin-top: 10px;
	height: 115px;
	background-color: #ccc
}

.view-news-media-lists .views-field-title,
.view-news-media-lists .views-field-field-short-title {
	color: #666666;
	text-transform: uppercase;
	line-height: 1.1;
	margin-top: 15px;
	padding-right: 00px;
	height: 40px; /* field is trimmed */
font-size: .9em;
font-weight: bold;
}
.view-news-media-lists .views-field-title a {
	color: inherit;
}

.view-news-media-lists .blue-link {
margin-top: 12px;
margin-bottom: 10px;
}
/* @end */

.auto-margins {
	margin-left: auto;
	margin-right: auto;
	-webkit-transition: width .2s linear;
	-webkit-transition: margin-left .2s linear;
	-webkit-transition: margin-right .2s linear;
	transition: width .2s linear;
	transition: margin-left .2s linear;
	transition: margin-right .2s linear;
	
}
.text-center {
	text-align: center;
}

/* @group View - news_media_browse */

.view-news-media-browse {
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
}
.view-news-media-browse .view-content table {
	display: block;
	border: none;
	float: left;
}
.view-news-media-browse .view-content tbody {
	display: block;
	border: none;
}
.view-news-media-browse .view-content tr {
	display: block;
	height: 155px;
	border: none;
}
.view-news-media-browse .view-content .item-list ul li,
.view-news-media-browse .view-content td {
	float: left;
	display: block;
	background-color: transparent;
	border: none;
	width:  420px;
	margin-right: 20px;
	height: 155px;
	overflow: hidden;
	line-height: 1.2;
	padding: 0;
	position: relative;
/*	background-color: #ddd*/
}

.view-news-media-browse .views-field-field-date-event {
	text-transform: uppercase;
	color: #ffa200;
	display: block;
	margin-right: 5px;
	font-size: .85em;
	font-weight: bold;
}

.view-news-media-browse .views-field-field-image {
	margin-top: 10px;
	width: 180px;
	height: 115px;
	margin-right: 20px;
	background-color: #ccc;
	float:left;
}

.view-news-media-browse .views-field-title,
.view-news-media-browse .views-field-field-short-title {
	color: #1a76b4;
	margin-top: 10px;
	padding-right: 00px;
/*	height: 40px; /* field is trimmed *!/*/
		
		
	font: 1em/1.1 "Lucida Grande", Lucida, Verdana, sans-serif;
}
.view-news-media-browse .views-field-title a {
	color: inherit;
}

.view-news-media-browse .views-field-body {
	margin-top: 5px;
}

.view-news-media-browse .blue-link {
	position: absolute;
	bottom: 21px;
	left: 200px;
}

.XXXview-news-media-browse .pager li {
	display:  none;
	
}
.view-news-media-browse .pager li.pager-item,
.view-news-media-browse .pager li.pager-current {
	display: inline;
}
/* @end */

/* @group View - foreign_rep_offices */

.view-foreign-rep-offices {
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	font-size: 12px;
}
.view-foreign-rep-offices .view-content table {
	display: block;
	border: none;
	float: left;
}
.view-foreign-rep-offices .view-content tbody {
	display: block;
	border: none;
}
.view-foreign-rep-offices .view-content tr {
	display: block;
	height: 145px;
	border: none;
	margin-top: 10px;
}
.view-foreign-rep-offices .view-content .item-list ul li,
.view-foreign-rep-offices .view-content td {
	float: left;
	display: block;
	background-color: transparent;
	border: none;
	width:  420px;
	margin-right: 20px;
	overflow: hidden;
	line-height: 1.3;
	padding: 0 20px 0 0;
	position: relative;
/*	background-color: #ddd*/
}

.view .views-field .image-flag {
	margin-top: 0px;
	margin-bottom: 40px;
	width: 144px;
	min-height: 94px;
	margin-right: 20px;
	background-color: #e1e1e1;
	float:left;
	padding: 6px 8px;
}

.view .views-field .subheading {
	display: block;
	color: #1a76b4;
	margin-bottom: 10px;
	padding-right: 00px;
	font: 14px/1.1 "Lucida Grande", Lucida, Verdana, sans-serif;
}
.view .views-field .label {
	display: block;
	color: #999;
	margin-bottom: 10px;
	padding-right: 00px;
	font: italic 1em/1.1 Georgia, "Times New Roman", Times, serif;
}

.view-foreign-rep-offices .outdent-span {
	margin-left: 193px;
}
.view-foreign-rep-offices .outdent-span span {
	margin-left: -13px;
	display: inline-block;
	width: 10px;
}
.view-foreign-rep-offices .views-field a {
	color: inherit;
}

.view-foreign-rep-offices .blue-link {
	position: absolute;
	bottom: 21px;
	left: 200px;
}

.XXXview-news-media-browse .pager li {
	display:  none;
	
}
.view-foreign-rep-offices .pager li.pager-item,
.view-foreign-rep-offices .pager li.pager-current {
	display: inline;
}
/* @end */
/* @group View - partners */

.view-partners {
	overflow: hidden;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	font-size: 12px;
}
.view-partners .view-content table {
	display: block;
	border: none;
	float: left;
}
.view-partners .view-content tbody {
	display: block;
	border: none;
}
.view-partners .view-content tr {
	display: block;
	border: none;
	height: 165px;
	margin-top: 10px;
}
.view-partners .view-content .item-list ul li,
.view-partners .view-content td {
	float: left;
	display: block;
	background-color: transparent;
	border: none;
	width:  460px;
	height: 165px;
	margin-right: 20px;
	overflow: hidden;
	line-height: 1.3;
	padding: 0 20px 0 0;
	position: relative;
/*	background-color: #ddd*/
}

.view .image-partner-logo {
	margin-top: 0px;
	margin-bottom: 40px;
/*	width: 165px;*/
/*	height: 105px;*/
	margin-right: 20px;
	background-color: transparent;
	float:left;
}

.view-partners .views-field a {
	color: inherit;
	font-weight: normal;
}

.view-partners .blue-link {
	position: absolute;
	bottom: 21px;
	left: 200px;
}

.view-partners .pager li.pager-item,
.view-partners .pager li.pager-current {
	display: inline;
}
/* @end */

/* @group microsite */

.stage .test-links {
	display: none;
}

.stage .microsite-background {
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -1;
}
.microsite-background img {
	height: 100%;
	width: auto;
	margin-left: -50%;
	margin-right: -50%;
}
.stage .microsite-wrapper {
	width: 100%;
	height: 100%;
}
.stage .gazprom-microsite {
	width: 100%;
	height: 100%;
	display: none;
}
.activated .stage #gazprom-microsite {
	display: block;
}

/* @end */


/* @group world-map */


.stage .openlayers-map {
	text-align: center;
	height: 100%;
	width: 100%;
}
.stage .openlayers-map img {
	height: 100%;
/*	width: auto;
	margin-left: -50%;
	margin-right: -50%;*/
	/* now done in JS */
}

/* @end */

/* @groupd page - countries */

.regions-menu {
	margin-top: 40px;
}
.regions-menu > ul.menu {
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 40px;
}
.regions-menu > ul.menu > li {
	list-style: none;
	float: left;
	width: 190px;
}

.regions-menu > ul.menu > li > ul.menu > li {
	list-style: none;
}
.regions-menu > ul.menu li a {
	padding: 0;
	margin: 0;
	border: none;
}
.regions-menu > ul.menu > li > a {
color: #1a76b4;
margin-bottom: 5px;
font: 1.25em "Lucida Grande", Lucida, Verdana, sans-serif;

}
.regions-menu > ul.menu > li > a:hover {
	text-decoration:  none;
	background-color: transparent;
}

.regions-menu > ul.menu ul.menu > li > a {
	font-size: .85em;
	padding-top: 3px;
	padding-bottom: 3px
}
.regions-menu > ul.menu ul.menu > li > a:hover {
	color: #fff;
	background-color: #286FB6;
	text-decoration: none;
	padding-left: 7px;
}
/* @end */

/* @group regions/country taxonomy pages */

.vocabulary-location .bottom-content {
	position: relative;
	/* @todo consider doing this for all
	step-width containers?? */
}
.taxonomy-term.vocabulary-location h3 {
/*	margin-right: 50%;*/
}
.taxonomy-term.vocabulary-location hr {
margin-right: 0;
}
.region-menu {
position: absolute;
right: 0;
top: -5px;
text-transform: uppercase;
font-size: 1em;
}

.region-menu ul.menu li,
.country-menu ul.menu li {
	list-style: none;
	display: inline-block;
	padding-right: 0;
}
.region-menu ul.menu li a,
.country-menu ul.menu li a {
	border: none;
}
.region-menu ul.menu li a:hover,
.country-menu ul.menu li a:hover {
	background-color: transparent;
}
.region-menu ul.menu li a {
	margin-bottom: 0;
	margin-left: 10px;
	padding-bottom: 7px;
	padding-right: 0;
	padding-left: 0;
}
.region-menu ul.menu li a.active-trail {
	text-decoration: none;
	color: #FFA200;
	border-bottom: 3px solid #286FB6;
}

.country-menu ul.menu {
	margin-top: 20px;
	margin-left: 0;
	display: inline-block;
	font-size: 12px;
}
.country-menu ul.menu li {
	padding: 1px;
	width: 120px;
	text-align: center;
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #ccc;
	margin: 0px -4px 0px 0;
}
.country-menu ul.menu li.last {
/*	padding-right: 60px;*/
}
.country-menu ul.menu li.active-trail {
	border-top: 1px solid #ccc;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid white;
}
.country-menu ul.menu li a {
	margin: 0;
	background-color: #EBEBEB;
	padding: 10px 0 7px;
}
.country-menu ul.menu li a:hover {
	background-color: #EBEBEB
}
.country-menu ul.menu li a.active-trail {
	background-color: transparent;
	color: #FFA200;
	text-decoration: none;
}
hr.country-menu-special-border {
	margin-top: -10px;
	border-top: 1px solid #ccc;
	margin-bottom: 20px;
}
.vocabulary-location .left-side {
/*	min-height: 500px;*/
	margin-right: 330px;
	margin-top: 0px;
}
.vocabulary-location .right-side {
	position: absolute;
	top: 101px;
	right: 0;
	width: 300px;
	padding-bottom: 50px;
}

.vocabulary-location .related-content h3 {
	font-size: 1.2em;
	margin-top: 40px;
}
.vocabulary-location .related-content .view-content {
	background-color: #eee;
	padding: 20px;
	font-size: .9em;
	min-height: 110px;
}
.vocabulary-location .related-content ul.pager {
	display: none;
}
.vocabulary-location .related-content li {
	list-style: none;
	margin-left: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
}
.vocabulary-location .related-content li a {
	color: #2b2b2b;	
}
/* @end */

/* @group jScrollPane stuff */

/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */

.jspContainer
{
	overflow: hidden;
	position: relative;
}

.jspPane
{
	position: absolute;
}

.jspVerticalBar
{
	position: absolute;
	top: 0;
	right: 0;
	width: 8px;
	padding-right: 8px;
	height: 100%;
	background: transparent;
}
.photo-gallery-content .jspVerticalBar {
	width: 25px;
	padding-right: 2px;
}

.jspHorizontalBar
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 16px;
	background: transparent;
}

.jspVerticalBar *,
.jspHorizontalBar *
{
	margin: 0;
	padding: 0;
}

.jspCap
{
	display: none;
}

.jspHorizontalBar .jspCap
{
	float: left;
}

.jspTrack
{
	position: relative;
	width: 8px;
	background-color: #5D5D5D;
	background-color: rgba(255,255,255,.2);
}
.photo-gallery-content .jspTrack {
	width: 25px;
	background-color: #5D5D5D;
	
}

.jspDrag
{
	background: #ababab;
	position: relative;
	top: 0;
	left: 0;
	cursor: pointer;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag
{
	float: left;
	height: 100%;
}

.jspArrow
{
	background: #50506d;
	text-indent: -20000px;
	display: block;
	cursor: pointer;
}

.jspArrow.jspDisabled
{
	cursor: default;
	background: #80808d;
}

.jspVerticalBar .jspArrow
{
	height: 16px;
}

.jspHorizontalBar .jspArrow
{
	width: 16px;
	float: left;
	height: 100%;
}

.jspVerticalBar .jspArrow:focus
{
	outline: none;
}

.jspCorner
{
	background: #eeeef4;
	float: left;
	height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner
{
	margin: 0 -3px 0 0;
}
/* @end */

